@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
#todos{
    margin: 20px auto;
    padding: 10px;
    width: 350px;
    height: 550px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

#ulTodo{
    list-style: none;
}
#ulTodo > li{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form{
    margin: 20px;
}
input{
    padding: 3px;
    border-radius: 5px;
}
button{
    padding: 5px 10px;
}
button:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
} 
button.del {
    display: flex;
    width: 5px;
    height: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
