@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
/* top, right, left, bottom */
.action {
  color: rgba(34, 34, 34);
}

p {
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
}
.suggestion {
  background-color:;
  width: 203px;
  /* margin-left: auto; */
  /* margin: 0;    top:0px ,left,right,bottom: 0px */
  /* margin: 10px 20px 30px 40px;-->top right bottom left */
  /* margin: 10px 20px 30px; --> t r-l b */
  /* margin: 10px 20px; --> t-b r-l */
  /* border: 5px solid #999; */
  margin-top: 20px;
  padding: 20px;
  /* 
    padding: từ border vào trong
    margin: từ border ra ngoài 
  */
  
  border-radius: 10px ; /* (bo viền) */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  
}
.suggestion > p {
  font-weight: lighter;
  color: #999;
}

.img-suggestion {
  width: 203px;
}

.section-suggestion {
  display: flex;
}

.act {
  text-decoration: none;
  color: #000;
}
/*
  pseudo: hover, active, link, visited
*/
.act:hover{
  color: lightcoral;
}